Makefile
build/Makefile*
.make.cache
bld.inf
*.loc
*.mmp
*.pkg
*.rss
*.user
*.sis
ui/*.h
moc/*.cpp
rcc/*.cpp
build/object_script*
build/*.cpp
build/*.h
build/*.o
build/*/*.cpp
build/*/*.h
build/*/*.o
